<div class="container-fluid contact">
    <div class="container contact-c">
        <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/c-character-alphabet-letter-33a1c5cbc88392b9-512x512.png" id="contact-logo">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center align-self-center">
                <p class="font-weight-light" style="color: white;">CONTACT US NOW</p>
                <h1 class="font-weight-bold" style="color: yellow;">
                    <span class="font-weight-light">Keep</span> in Touch.
                </h1>
                <form action="https://formspree.io/stephenbui97@icloud.com" , method="POST">
                    <div class="form-group">
                        <div class="row contact-name-email">
                            <div class="col-md-6">
                                <input type="text" class="form-control contact-field" name="name" placeholder="Name" required="" />
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control contact-field" name="email" placeholder="Email" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control contact-field" name="title" placeholder="Title Message" id="password" required=""
                        />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control contact-field" name="message" id="exampleFormControlTextarea1" placeholder="Message" rows="3"
                            required=""></textarea>
                    </div>
                    <button type="submit" class="contact-send-message">SEND MESSAGE NOW</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row contact-highlights-row">
            <div class="col-lg-3 contact-highlights">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/yellow-heart-icon.png   " />
                    </div>
                    <div class="col-lg-9">
                        <h3><b>1.172.700</b></h3>
                        <h6>HAPPY CUSTOMERS</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 contact-highlights">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="https://cdn3.iconfinder.com/data/icons/business-office/256/Business_Goals-512.png" />
                    </div>
                    <div class="col-lg-9">
                        <h3><b>2.450</b></h3>
                        <h6>CARS IN GARAGE</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 contact-highlights">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="https://cdn0.iconfinder.com/data/icons/classic-icons/512/102.png" />
                    </div>
                    <div class="col-lg-9">
                        <h3><b>1.211.100</b></h3>
                        <h6>TOTAL KILOMETER/MIL</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 contact-highlights">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="https://cdn2.iconfinder.com/data/icons/office-icon-set-3/512/phone.png" />
                    </div>
                    <div class="col-lg-9">
                        <h3><b>47.250</b></h3>
                        <h6>CAR CENTER SOLUTIONS</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
