<div class="container-fluid service-advantage-cf">
    <div class="container" id="service-advantage-c">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/2d/ff/8d/2dff8d670b8d50185d19715ae5ac4319.png" id="service-advantage-logo" />
        <div class="row">
            <div class="col-lg-12 text-center" id="advantage-title">
                <h6>120+ CARS TYPE & BRANDS</h6>
                <h1>
                    <span>Royal Cars </span>
                    <span>
                        <b>Advantages.</b>
                    </span>
                </h1>
            </div>
        </div>
        <div class="row justify-content-around" id="advantagesline">
            <div class="col-lg-3" id="advantagedetail-advantage">
                <img src="http://www.iconarchive.com/download/i58388/icontexto/social-user/favorites.ico" />
                <h5>
                    24/7 Customer Online
                    <br/> Support
                </h5>
                <span>
                    Call us Anywhere Anytime
                </span>
            </div>
            <div class="col-lg-3" id="advantagedetail-advantage">
                <img src="http://tsgmedical.com/images/calendaricon.png" />
                <h5>
                    Reservation Anytime
                    <br/> You Wants
                </h5>
                <span>
                    24/7 Online Reservation
                </span>
            </div>
            <div class="col-lg-3" id="advantagedetail-advantage">
                <img src="https://www.shareicon.net/data/2016/07/03/636125_location_512x512.png" />
                <h5>
                    Lots of Picking
                    <br/> Locations
                </h5>
                <span>
                    250+ Locations
                </span>
            </div>
        </div>
    </div>
</div>