<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Your Car</title>
    <%include ../partials/head%>
        <link rel="stylesheet" href="/stylesheets/search.css">
</head>

<body>
    <header>
        <%include ../partials/header%>
    </header>
    <main>
        <div class="container-fluid search-car-cf">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 search-car-form">
                        <h3>Search Your Car</h3>
                        <form action="/car/search" method="POST">
                            <div class="form-group">
                                <label for="car-brand">Brands</label>
                                <select name="carbrand" class="form-control" id="car-brand">
                                    <option>Any brand</option>
                                    <%brands.forEach(function(brand) {%>
                                        <option>
                                            <%=brand%>
                                        </option>
                                        <%});%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="car-type">Types</label>
                                <select name="cartype" class="form-control" id="car-type">
                                    <option>Any type</option>
                                    <%types.forEach(function(type) {%>
                                        <option>
                                            <%=type%>
                                        </option>
                                        <%});%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="car-price">Price</label>
                                <select name="carprice" class="form-control" id="car-price">
                                    <option>Low-High</option>
                                    <option>High-Low</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-4 ">
                            <a href="/home" style="text-decoration: none"> <<< Back to home page </a>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Contact -->
        <%include ../partials/contact%>
    </main>
    <footer>
        <%include ../partials/footer%>
    </footer>
</body>

</html>