<div class="row cardetail-orderform">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 cardetail-form-title">
                <h4>
                    <b>Booking</b> This Car</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 cardetail-form-data">
                <b class="cardetail-form-label">FULL NAME</b>
                <br/>
                <input class="cardetail-form-fields" type="text" placeholder="Your name" required/>
                <br/>
                <b class="cardetail-form-label">EMAIL ADDRESS</b>
                <br/>
                <input class="cardetail-form-fields" type="text" placeholder="example@gmail.com" required/>
                <br/>
                <b class="cardetail-form-label">PHONE NUMBER</b>
                <br/>
                <input class="cardetail-form-fields" type="text" placeholder="+84908430873" required/>
                <br/>
                <b class="cardetail-form-label">PICKUP ADDRESS</b>
                <br/>
                <input class="cardetail-form-fields" type="text" placeholder="Airport or anywhere" required/>
                <br/>
                <b class="cardetail-form-label">PICKUP DATE</b>
                <br/>
                <input class="cardetail-form-fields" type="date"  required/>
                <br/>
                <b class="cardetail-form-label">PICKUP TIME</b>
                <br/>
                <input class="cardetail-form-fields" type="text" placeholder="12:00 AM" required/>
                <br/>
                <b class="cardetail-form-label">DROPOFF ADDRESS</b>
                <br/>
                <input class="cardetail-form-fields" type="text" placeholder="Airport or anywhere" required/>
                <br/>
                <b class="cardetail-form-label">DROPOFF DATE</b>
                <br/>
                <input class="cardetail-form-fields" type="date"  required/>
                <br/>
                <b class="cardetail-form-label">DROPOFF TIME</b>
                <br/>
                <input class="cardetail-form-fields" type="text" placeholder="12:00 AM" required/>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 cardetail-form-submit">
                <button class="cardetail-book-request"><b>REQUEST FOR BOOKING</b></button>
                <h2 class="horizontalTitle" id="lineBreak"><span><b>OR</b></span></h2>
                <button class="cardetail-book-instant"><b>BOOK INSTANTLY</b></button>
                <div class="row justify-content-between cardetail-form-views">
                    <div class="col-lg-2 cardetail-form-view-icon">
                        <img src="http://www.clker.com/cliparts/H/n/R/4/W/2/yellow-eye-icon-md.png"/>
                    </div>
                    <div class="col-lg-9">
                        <p>This car's been viewed X times in the past week</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>