<div class="container-fluid cardetailpage-title-cf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center cardetailpage-title">
                <h1>
                    Royal Cars <b>Vehicles.</b>
                </h1>
                <h6>
                    <a href="/home">
                        <b>HOME</b>
                    </a> >
                    <a href="#">
                        <b>VEHICLES</b>
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>