<!-- Know more about us  -->
<div class="container-fluid" id="cf-knowmoreaboutus">
    <div class="container" id="c-knowmoreaboutus">
        <div class="row" id="title-knowmoreaboutus">
            <div class="col-lg-12" id="announcecol">
                <h6 id="knowmoreaboutus">KNOW MORE ABOUT US</h6>
                <h1>
                    <span id="who">Who</span>
                    <span id="royalcars">Royal Cars </span>
                    <span id="are">Are.</span>
                </h1>
            </div>
        </div>
        <div class="row" id="border">
            <div id="borderline"></div>
        </div>
        <div class="row" id="aboutus-info">
            <div class="col-lg-6" id="left-info">
                We know the difference is in the details and that's why our car rental services, in the tourism and business industry, stand
                out for their quality and good taste.
            </div>
            <div class="col-lg-6" id="right-info">
                We know the difference is in the details and that's why our car rental services, in the tourism and business industry, stand
                out for their quality and good taste.
            </div>
        </div>
        <div class="row justify-content-around" id="aboutus-advantages">
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Orange_people_icon.svg/2000px-Orange_people_icon.svg.png"
                />
                <h5 id="aboutus-advantages-title">
                    Million Staffs
                </h5>
                <span id="aboutus-advantages-content">
                    Our staff can picking you anywhere anytime
                </span>
            </div>
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/good-review-feedback-insurance-shield-30ddd98d92b1d34d-512x512.png"
                />
                <h5 id="aboutus-advantages-title">
                    Free Insurance
                </h5>
                <span id="aboutus-advantages-content">
                    Rent a car 3 days & get free insurance
                </span>
            </div>
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="https://www.ggamerica.com/assets/handshakeIcon-5c4fd9a6d3bbb517fdb3d5908689aea4.png" />
                <h5 id="aboutus-advantages-title">
                    Trusted Rent
                </h5>
                <span id="aboutus-advantages-content">
                    We've been working since 1980 with 4000 customers
                </span>
            </div>
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="http://www.iconarchive.com/download/i76648/xenatt/the-circle/App-Burn.ico" />
                <h5 id="aboutus-advantages-title">
                    All Type Cars
                </h5>
                <span id="aboutus-advantages-content">
                    We have all brand & type cars in our garage
                </span>
            </div>
        </div>
        <div class="row">
            <a href="/car/gallery/">
                <div class="aboutus-links">VIEW ALL VEHICLES</div>
            </a>
            <a href="/user/reserved">
                <div class="aboutus-links">RESERVED CAR</div>
            </a>
        </div>
    </div>
</div>