<!-- Advantage -->
<div class="container">
    <div class="row" id="advantagetitle">
        <div class="col-lg-6" id="adleftcol">
            <h6>120+ CARS TYPE & BRANDS</h6>
            <h1>
                <span id="h1royalcars">Royal Cars </span>
                <span id="h1advantages">Advantages</span>
            </h1>
        </div>
        <div class="col-lg-6">
            We know the difference is in the details and that's why our car rental services, in the tourism and business industry, stand
            out for their quality and good taste.
        </div>
    </div>
    <div class="row justify-content-around" id="advantagesline">
        <div class="col-lg-3" id="advantagedetail-advantage">
            <img src="http://www.iconarchive.com/download/i58388/icontexto/social-user/favorites.ico" />
            <h5>
                24/7 Customer Online
                <br/> Support
            </h5>
            <span>
                Call us Anywhere Anytime
            </span>
        </div>
        <div class="col-lg-3" id="advantagedetail-advantage">
            <img src="http://tsgmedical.com/images/calendaricon.png" />
            <h5>
                Reservation Anytime
                <br/> You Wants
            </h5>
            <span>
                24/7 Online Reservation
            </span>
        </div>
        <div class="col-lg-3" id="advantagedetail-advantage">
            <img src="https://www.shareicon.net/data/2016/07/03/636125_location_512x512.png" />
            <h5>
                Lots of Picking
                <br/> Locations
            </h5>
            <span>
                250+ Locations
            </span>
        </div>
    </div>
    <div class="row" id="linespace"></div>
    <div class="row justify-content-around" id="advantagesline">
        <div class="col-lg-3" id="advantagedetail-advantage">
            <img src="http://www.iconsplace.com/download/orange-taxi-256.png" />
            <h5>
                All Type & Brand Cars
                <br/> Manufacturer
            </h5>
            <span>
                Call us Anywhere Anytime
            </span>
        </div>
        <div class="col-lg-3" id="advantagedetail-advantage">
            <img src="https://cdn1.iconfinder.com/data/icons/banking-filled-line/614/117_-_Mutual_Fund-512.png" />
            <h5>
                The Most Cheapest
                <br/> Rent Car
            </h5>
            <span>
                250+ Locations
            </span>
        </div>
        <div class="col-lg-3" id="advantagedetail-advantage">
            <img src="http://www.free-icons-download.net/images/yellow-star-icon-95247.png" />
            <h5>
                10+ Years Experienced
                <br/> Drivers
            </h5>
            <span>
                250+ Locations
            </span>
        </div>
    </div>
</div>