<div class="container-fluid cf-homefooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row homefooter-search-top">
                            <div class="col-lg-2">
                                <img src="https://keodannhua.com/wp-content/uploads/2018/01/tick-yellow.png" />
                            </div>
                            <div class="col-lg-10 homefooter-search-title">
                                <h3>Search your
                                    <b>Best Cars</b>
                                </h3>
                                <h6>120+ CARS TYPE & BRAND</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row homefooter-search-formfield">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>
                                    <b>PICKING UP LOCATION</b>
                                </h6>
                                <input type="text" placeholder="Airport or Anywhere" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>
                                    <b>DROPPING OFF LOCATION</b>
                                </h6>
                                <input type="text" placeholder="Airport or Anywhere" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h6>
                                    <b>PICKING UP DATE</b>
                                </h6>
                                <input type="date" />
                            </div>
                            <div class="col-lg-6">
                                <h6>
                                    <b>PICKING UP HOUR</b>
                                </h6>
                                <input type="text" placeholder="12:00 AM">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h6>
                                    <b>DROPPING OFF DATE</b>
                                </h6>
                                <input type="date">
                            </div>
                            <div class="col-lg-6">
                                <h6>
                                    <b>DROPPING OFF HOUR</b>
                                </h6>
                                <input type="text" placeholder="12:00 PM">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row homefooter-search-submit">
                    <div class="col-lg-6 text-center">
                        <span>
                            <img src="http://www.iconsplace.com/download/yellow-add-file-512.gif" />ADVANCED SEARCH</span>
                    </div>
                    <div class="col-lg-6">
                        <button>FIND CAR</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="row justify-content-between homefooter-contact">
                    <div class="col-lg-5">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-icons-6/40/phone-512.png" />
                        <b>Call US ONLINE 1</b>
                        <br/>
                        <h3>100.1212.2000</h3>
                        <h6>OUR INFO</h6>
                        <ul>
                            <li><a href="/aboutus">About Royal Cars</a></li>
                            <li>Our Mission & Strategy</li>
                            <li>Our Vision</li>
                            <li><a href="/service">Royal Cars Advantage</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-icons-6/40/phone-512.png" />
                        <b>Call US ONLINE 2</b>
                        <br/>
                        <h3>100.2424.2000</h3>
                        <h6>ACCOUNT INFORMATION</h6>
                        <ul>
                            <li><a href="/user/login">Login to My Account</a></li>
                            <li>Press Releases</li>
                            <li><a href="/user/profile">User Dashboard</a></li>
                            <li>Email Address</li>
                            <li>Lorem Ipsum dolorsit</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center homefooter-open-location">
                        <img id="homefooter-map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Blank_Map-Africa.svg/2000px-Blank_Map-Africa.svg.png" />
                        <span>
                            <img src="http://icon-park.com/imagefiles/location_map_pin_yellow5.png" />OPEN LOCATION ON MAP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>