<!-- Find car on map -->
<div class="container-fluid cf-findcarnow">
    <div class="container c-findcarnow">
        <div class="row">
            <div class="col-lg-12 find-car-header">
                <h1>Find Car on
                    <b>Map</b>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 find-car-border"></div>
        </div>
        <div class="row find-car-on-map">
            <div class="col-lg-3">
                <b class="find-car-title">PICKING UP LOCATION</b>
                <br/>
                <input class="find-car-field" type="text" placeholder="Airport or Anywhere" />
            </div>
            <div class="col-lg-3">
                <b class="find-car-title">PICKING UP DATE</b>
                <br/>
                <input type="date" class="find-car-field" placeholder="dd:mm:yy" />
            </div>
            <div class="col-lg-3">
                <b class="find-car-title">CAR PRICE</b>
                <br/>
                <input class="find-car-field" type="text" placeholder="Select Car Group" />
            </div>
            <div class="col-lg-3 find-car-now-button">
                <button id="find-car-now">FIND CAR NOW</button>
            </div>
        </div>
    </div>
</div>