<div id="group">
    <div class="row">
        <h3 class="list-inline-element">Addition Requirements</h3>
    </div>
    <div class="row" id="line_break">
    </div>
    <div class="row">
        <textarea class="form-control" name="addition" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="direct" checked required>
            <label class="form-check-label" for="inlineCheckbox1">I accept all informations & payment eyc</label>
        </div>
    </div>
</div>