<div id="group">
    <div class="row">
        <h3 class="list-inline-element">Payment Options</h3>
    </div>
    <div class="row" id="line_break">
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payment" id="payment_direct" value="direct" checked>
            <label class="form-check-label" for="payment_direct">
                Direct bank transfer
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payment" id="payment_paypal" value="paypal">
            <label class="form-check-label" for="payment_paypal">
                PayPal
            </label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="payment" id="payment_credit" value="credit">
                <label class="form-check-label" for="payment_credit">
                    Credit Card
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="payment" id="payment_cheque" value="cheque">
                <label class="form-check-label" for="payment_cheque">
                    Cheque Payment
                </label>
            </div>
    </div>
</div>