<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfJ8HnVZsQLqzaagir_Y28XCduLY8_ovY&callback=loadMap">
</script>

<div id="googleMap" style="width:100%;height:800px;margin-bottom: 200px;"></div>