<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center login-resetpassword">
                        <h1>Forgot Password</h1>
                        <form action="/user/forgot" method="POST">
                            <div class="row reset-form">
                                <div class="col-lg-2">Enter your email here: </div>
                                <div class="col-lg-10">
                                    <input type="email" name="email" placeholder="" class="form-control" /> </div>
                            </div>
                            <button type="submit" class="btn btn-primary reset-form">Confirm</button>
                            <% if (typeof (stt) !== 'undefined') {
                                            if(stt == "error") { %>
                                <small style="color: red;" class="form-text">
                                    <%= message %>
                                </small>
                                <% } %>
                                    <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <% include ../partials/contact %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>