<div class="container-fluid aboutus-welcome-cf">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-right aboutus-welcome-left">
                <h6>120+ CARS TYPE & BRANDS</h6>
                <h2>Welcome to
                    <b>Royal Cars</b>
                </h2>
            </div>
            <div class="col-lg-6 text-left">
                We know the diffrence is in the details and that's why our car rental services, in the tourism and business industry, stand
                out for their quality and good taste.
            </div>
        </div>
        <div class="row aboutus-welcome-clip">
            <div class="col-lg-12">
                <object data="https://www.youtube.com/embed/6ZfuNTqbHE8"></object>
            </div>
        </div>
        <div class="row aboutus-quote">
            <div class="col-lg-6 text-left left-quote">
                We know the diffrence is in the details and that's why our car rental services, in the tourism and business industry, stand
                out for their quality and good taste.
            </div>
            <div class="col-lg-6 text-center right-quote">
                We know the diffrence is in the details and that's why our car rental services, in the tourism and business industry, stand
                out for their quality and good taste.
            </div>
        </div>
        <div class="row justify-content-around" id="aboutus-advantages">
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Orange_people_icon.svg/2000px-Orange_people_icon.svg.png"
                />
                <h5 id="aboutus-advantages-title">
                    Million Staffs
                </h5>
                <span id="aboutus-advantages-content">
                    Our staff can picking you anywhere anytime
                </span>
            </div>
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/good-review-feedback-insurance-shield-30ddd98d92b1d34d-512x512.png"
                />
                <h5 id="aboutus-advantages-title">
                    Free Insurance
                </h5>
                <span id="aboutus-advantages-content">
                    Rent a car 3 days & get free insurance
                </span>
            </div>
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="https://www.ggamerica.com/assets/handshakeIcon-5c4fd9a6d3bbb517fdb3d5908689aea4.png" />
                <h5 id="aboutus-advantages-title">
                    Trusted Rent
                </h5>
                <span id="aboutus-advantages-content">
                    We've been working since 1980 with 4000 customers
                </span>
            </div>
            <div class="col-lg-2" id="advantagedetail-aboutus">
                <img src="http://www.iconarchive.com/download/i76648/xenatt/the-circle/App-Burn.ico" />
                <h5 id="aboutus-advantages-title">
                    All Type Cars
                </h5>
                <span id="aboutus-advantages-content">
                    We have all brand & type cars in our garage
                </span>
            </div>
        </div>
        <div class="row justify-content-around aboutus-welcome-button">
                <div class="col-lg-2"></div>
                <button onclick="location.href='/car/gallery'" class="col-lg-3 aboutus-links text-center">VIEW ALL VEHICLES</button>            
                <button onclick="location.href='/user/reserved'" class="col-lg-3 aboutus-links text-center">RESERVED CAR</button>
                <div class="col-lg-2"></div>
        </div>

    </div>
</div>