<div class="container-fluid aboutuspage-title-cf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center aboutuspage-title">
                <h1>
                    <b>About </b> Royal Cars
                </h1>
                <h6>
                    <a href="/home">
                        <b>HOME</b>
                    </a> >
                    <a href="/aboutus">
                        <b>ABOUT US</b>
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>